.footer{
    width: 100%;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p{
    text-align: center;
}

@media only screen and (max-width :600px){
    .footer{
        font-size: 10px;
    }
}